#mainContainer{
    display: flex;
    flex-direction: column;

}

#activeTripContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#mapContainer {
    display: flex;
    width: 40%;

    align-items: center;
    justify-content: center;

    margin-top: 1.25rem;
}

.active-trip-card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 95%;
    height: 20%;
    
    background-color: rgb(250, 246, 246);
    border: .125rem solid black;
}

.active-trip-row{
    width: 80%;
}

#cancelTripButton{
    margin-top: .625rem;
}

#pageTitle{
    text-align: center;

    margin: 1.25rem;

    font-size: 3.25rem;
    color : #060b26;
}

.trip-attributes{
    font-weight: bold;
}