.signup-container {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd;
}

.signup-content{
    background-color: white;
    width: 33%;
    padding: 30px;
    border-radius: 5px
}

.heading-text{
    text-align: center;
    font-weight: bold;
}

.signup-button{
    margin-top: 25px;
    width: 100%;
}
