# This is a basic workflow to help you get started with Actions
name: build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # job name
  build-backend:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
  
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.0.0
        with: 
          node-version: "16.x"

      - name: Install dependencies
        run: npm install

      - name: Run test
        run: npm test
        env:
          DATABASE_URI: ${{secrets.DATABASE_URI}}
          MAPS_API_KEY: ${{secrets.MAPS_API_KEY}}
          SECRET: ${{secrets.SECRET}}
          
  # job name
  build-frontend:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
  
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.0.0
        with: 
          node-version: "16.x"

      - name: Install dependencies
        run: npm install

      - name: Run test
        run: npm test

      # Runs a single command using the runners shell
      #- name: Run a one-line script
      #  run: echo Hello, world!

      # Runs a set of commands using the runners shell
      #- name: Run a multi-line script
      #  run: |
      #    echo Add other actions to build,
      #    echo test, and deploy your project.
